body{
    align-items: center;

}
.container{
margin-top: 100px;
}

#steps li{
    list-style-type:none;
    float: left;
    width:24%;
    margin-left: 10px;
    
}
p{
    font-size: 20px;
}

#progressMove{
    width: 20px;
    line-height: 10px;
   
}
.progress{
    width: 100%;
    margin-top: 50px;

}
#para{
    margin-left: 400px;
}
#btn{
    margin-left: 540px;
    margin-top: 50px;
    
}
#btn :hover{
    opacity: .7;
}